body{
    margin: 0;
    /*
    background-image: url(images/50738746801_1dcae92b2c_o.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Open Sans;
    */
    background-color: rgb(80, 80, 80);
    font-family: Open Sans;
}
.main{
    display: flex;
}



.user-info-header{
    color: white;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 0;
}

.user-info{
    margin-left: 40px;
}

.stats{
    display: flex;
    flex-direction: column;
}
.stats input{
    width: 450px;
    margin-top: 10px;
    padding: 10px 10px;
    font-size: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: orange;
    border-radius: 10px;
    background-color: black;
    color: white;
}


.calculate{
    font-size: 22px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px 30px;
    color: white;
    background-color: rgb(255, 120, 0);
    border: none;
    border-radius: 20px;
    transition: padding 0.2s, background-color 0.3s;
    
}
.calculate:hover{
    padding: 25px 35px;
    background-color: black;
}

.ec-header{
    display: flex;
}

.add-ec{
    margin-left: 20px; 
    cursor: pointer;
}
.add-ec:hover{
    color: rgb(255, 120, 0);
}

.ec-row{
    display: flex;
}

.ec-dropdown{
    position: relative;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.ec-type{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.ec-dropdown:hover .ec-type{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.ec-type p:hover{
    color: rgb(255, 120, 0);
}

.ec-type p{
    margin: 5px;
}

.ec-type-ph{
    color: rgb(180, 180, 180);
    padding: 10px 10px;
    font-size: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: orange;
    border-radius: 10px;
    background-color: black;
    margin-bottom: 10px;
}

.ec-pos-ph{
    color: rgb(180, 180, 180);
    padding: 10px 10px;
    font-size: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: orange;
    border-radius: 10px;
    background-color: black;
}

.add-ec{
    font-size: 30px;
    color: white;
}

.results{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    height: 92vh;
    margin-left: 400px;
    background-color: gray;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;

}
.chance-text{
    color: white;
    font-size: 28px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
}

.college-display{
    width: 900px;
    height: 450px;
    object-fit: cover;
    margin-top: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: orange;
    margin-bottom: 0;
    z-index: 100;
}

.chance-chart{
    width: 700px;
    height: 350px;
    object-fit: contain;
    margin: 0;
    border: none;
    z-index: 101;
}

.panel{
    width: 3px;
    height: 100vh;
    background-color: black;
    position: fixed;
    top: 50%;
    left: 47.5%;
    transform: translate(-45%, -50%);
}

@media screen and (min-width: 2000px){
    .panel{
        left: 31.7%;
    }
}

@media screen and (max-width: 1800px){
    .panel{
        left: 54.5%;
    }
}

@media screen and (max-width: 1600px){
    .panel{
        left: 64%;
    }
}
@media screen and (max-width: 1400px){
    .panel{
        left: 73.5%;
    }
}
@media screen and (max-width: 1200px){
    .panel{
        left: 80%;
    }
}

.info{
    color: rgb(255, 120, 0);
    margin-left: 30px;
    margin-right: 50px;
    margin-top: 50px;
}
.info p{
    color: white;
    font-size: 20px;
}

a{
    color: white;
}

.info strong{
    color:rgb(255, 120, 0);
    font-size: 25px;
}

