body{
    margin: 0;
    /*
    background-image: url(images/50738746801_1dcae92b2c_o.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Open Sans;
    */
    background-color: rgb(80, 80, 80);
    font-family: Open Sans;
}


.user-info-header{
    color: white;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 0;
}

.user-info{
    margin-left: 40px;
}

.stats{
    display: flex;
    flex-direction: column;
}
.stats input{
    width: 450px;
    margin-top: 10px;
    padding: 10px 10px;
    font-size: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: orange;
    border-radius: 10px;
    background-color: black;
    color: white;
}


.calculate{
    font-size: 22px;
    margin-top: 50px;
    padding: 20px 30px;
    color: white;
    background-color: rgb(255, 120, 0);
    border: none;
    border-radius: 20px;
    transition: padding 0.2s, background-color 0.3s;
    
}
.calculate:hover{
    padding: 25px 35px;
    background-color: black;
}

.ec-header{
    display: flex;
}

.add-ec{
    margin-left: 20px; 
    cursor: pointer;
}
.add-ec:hover{
    color: rgb(255, 120, 0);
}

.ec-row{
    display: flex;
}

.ec-dropdown{
    position: relative;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.ec-type{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.ec-dropdown:hover .ec-type{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.ec-type p:hover{
    color: rgb(255, 120, 0);
}

.ec-type p{
    margin: 5px;
}

.ec-type-ph{
    color: rgb(180, 180, 180);
    padding: 10px 10px;
    font-size: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: orange;
    border-radius: 10px;
    background-color: black;
    margin-bottom: 10px;
}

.ec-pos-ph{
    color: rgb(180, 180, 180);
    padding: 10px 10px;
    font-size: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: orange;
    border-radius: 10px;
    background-color: black;
}

.add-ec{
    font-size: 30px;
    color: white;
}