body{
    margin: 0;
    background-image: url(images/50738746801_1dcae92b2c_o.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Open Sans;
}